

button {
    transition: all 0.25s ease-in-out;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: scale(0.97);
  }
  
  
  button.primary {
    background-color: #4f46e5;
  }
  
  button.secondary {
    border: 1px solid #d1d5db;
  }
  
  button.danger {
    background-color: #dc2626;
  }
  